
  @font-face {
        font-family: franklin;
        src: url(public/font/FranklinGothicHeavy.ttf);
      }
      @font-face {
        font-family: glyphicons;
        src: url(public/font/glyphicons-halflings-regular.ttf);
      }
      @font-face {
        font-family: choplin;
        src: url(public/font/Choplin-Medium-DEMO.otf);
      }
      @font-face {
              font-family: museosans;
              src: url(public/font/MuseoSansCyrl.otf);
      }
      @font-face {
              font-family: museosans2;
              src: url(public/font/MuseoSansCyrl_3.otf.otf);
      }



#info{

 background-color: #32dc3b;
font-family: museosans;
color: #ffffff;
}
#info a {
  color: #f8fff4;
   }
#info a:link {
    color: #fafbff;
}
    /* visited link */
#info a:visited {
    color: #fef9ff;
}

    /* mouse over link */
#info a:hover {
    color: #fffefa;
}

    /* selected link */
#info a:active {
    color: #fffaf5;
}
 #info ul{
list-style: none;

 }

#bgimg {
    z-index: -1;
    overflow: hidden;
    left: 70px;
    position: relative;
    display: block;
}

.navbar-brand  {

    border: none;
    color: #f2e613;
    padding: 10px 22px;
    color: #123456;
    background-color: #000000;
    border-color: #556667;
}

    .container-fluid  {
    background-color: #ff5125;
    border-color: #ffffff;
}

.container-fluid a:hover {
    color: red;
}





.link_  a{
  color: red;
  cursor: pointer;
   }

.jumbotron {
    background-color: #ffffff;
    color: #5d53b8;
}

  #footer {
      background-color: #1a3fff;
      text-align: center;
      width:100%;
      bottom:0;
      left:0;

  }
  #footer ul { list-style: none; }
  #footer a {
      font-family: sans-serif;
      font-size: 100%;
      text-decoration: none; /* Отменяем подчеркивание у ссылки */
  }
  #footer a:link {
      color: #fbf4ff;
  }
  /* visited link */
  #footer a:visited {
      color: #fbfdff;
  }

  /* mouse over link */
  #footer a:hover {
      color: #fef6ff;
  }

  /* selected link */
  #footer a:active {
      color: #fff7fb;
  }
    #footer h5{
        color: white;

    }


  .site-footer, .page-wrap:after {

  }
  .site-footer {
      background: orange;
  }
  .footer {
      position: relative;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 165px;
      background-color: #1a3fff;
  }


  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  .container {
      width: auto;
      max-width: 680px;
      padding: 0 15px;
  }
  .container .text-muted {
      margin: 20px 0;
  }