
  @font-face {
        font-family: franklin;
        src: url(public/font/FranklinGothicHeavy.ttf);
      }
      @font-face {
        font-family: glyphicons;
        src: url(public/font/glyphicons-halflings-regular.ttf);
      }
      @font-face {
        font-family: choplin;
        src: url(public/font/Choplin-Medium-DEMO.otf);
      }
      @font-face {
              font-family: museosans;
              src: url(public/font/MuseoSansCyrl.otf);
      }
      @font-face {
              font-family: museosans2;
              src: url(public/font/MuseoSansCyrl_3.otf.otf);
      }



#info{
 background-color: white;
font-family: museosans;
color: #3399ff;
}
#info a {
  color: blue;
   }
#info a:link {
    color: blue;
}
    /* visited link */
#info a:visited {
    color: blue;
}

    /* mouse over link */
#info a:hover {
    color: blue;
}

    /* selected link */
#info a:active {
    color: blue;
}


#bgimg {
    z-index: -1;
    overflow: hidden;
    left: 70px;
    position: relative;
    display: block;
}

.navbar-brand  {

    border: none;
    color: #38C4F2;
    padding: 10px 22px;
    color: #123456;
    background-color: #000000;
    border-color: #556667;
}

    .container-fluid  {
    background-color: #3399ff;
    border-color: #ffffff;
}

.container-fluid a:hover {
    color: red;
}





.link_  a{
  color: red;
  cursor: pointer;
   }

.jumbotron {
    background-color: #ffffff;
}
